body {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    color: #98acf8;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
}

h2:hover {
    color: #6683f7;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

span {
    color: #b088f9;
}

a {
    color: #000;
}

.bullet {
    color: #da9ff9;
}

/* Contact Section */

.contacts {
    background-attachment: fixed;
    background-image: linear-gradient(#ffffffda, #9fb4f9b0), url(images/sky_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 5% 15% 0%;
}

.profile_image {
    width: 40%;
    padding-bottom: 7%;
}

.contacts h2 {
    color: #000;
}

/* Information Section */

.white-color {
    padding: 3% 15% 5%;
}

.info {
    table-layout: auto;
}


